<%- include("./partials/head.ejs") %>
<%- include("./partials/header.ejs") %>

<section class="productos">
    <h2>PRODUCTOS</h2>
        <% if (items){ %>
            <table>
                <tr>
                    <th>TITULO</th>
                    <th>PORTADA</th>
                    <th>PRECIO</th>
                </tr>
            
                <% items.forEach(item=>{%> 
                <tr>
                    <td><%=item.title%></td>
                    <td><img alt="item img" src="<%=item.thumbnail%>"  /></td>
                    <td>$<%=item.price%>  USD</td>
                </tr>
                <% })  %> 
            </table>
        <% } else {%>
    <p>No hay productos cargados.</p>
    <% } %>
</section>

<%- include("./partials/footer.ejs") %>